/* Esto son fuentes de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');



/*Esto edita los estilos globales */
* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


header {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
        padding: 20px;
        background: linear-gradient(to left, #242F9B, #646FD4, #9BA3EB, #DBDFFD);
    
}

.logo img {
    height: 50px;
}

.nav {
    float: right;
}

.nav ul {
    list-style: none;

}

.nav li {
    display: inline-block;
    margin-left: 2rem;
}

.nav li a {
    color: #DBDFFD;
    font-weight: 600;
    font-size: 18px;
}

.nav li a:hover {
    color: #0214b1;
}

.nav li a:active {
    color: #9BA3EB;
}


/*
de aca en adelante es el css del hero, es la imagen del puente con el tituo de servicios de ingenieria
*/

.hero {
    background-image: url("https://images.unsplash.com/photo-1556610961-2fecc5927173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1067&q=80");
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-bottom: 190px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

/*
Este es el class que modifica el titulo del hero
*/

.hero01 {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    padding: 180px;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

/*
Este es el class que modifica el parrafo abajo del titulo
*/

.hero1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.contenido {
    padding: 0 8%;
    padding-bottom: 80px;
}

/*
aca comienza el css que modifica los titulos de quienes somos, vision y mison
*/


h2 {
    font-size: 48px;
    font-style: italic;
    margin-bottom: 20px;

}

.quote {
    font-size: 24px;
    font-style: italic;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
    margin: 0 0 0 20px;
    padding-left: 30px;
    text-shadow: none;
    border-left: 4px solid #9BA3EB;
}

.Imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.valores {
    width: 500px;
    height: 300px;
    object-fit: cover;

}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #9BA3EB;
}

.direccion {
    padding-left: 20%;
}

.social-icons {
    display: flex;
    padding: 0 30px;
    padding-left: 30%;
    font-size: 35px;

}

.social-icons li {
    text-decoration: none;
    list-style: none;
    margin: 0 5%;
}

[class*="fa fa"] {
    color: #242F9B;
}

[class*="fa fa"]:hover {
    color: #DBDFFD;
}

[class*="fa fa"]:active {
    color: #141836d2;
}









/* Esto es para hacer el sistema de grid y la edicion en diferentes dispositovos*/

.contenedor {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    border: 0px solid black;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%
}

.col-1 {
    width: 8.33333333%;
}



/* Para dispositivos grandes tipo pc - lg */

@media (min-width:1200px) {
    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .paradispositivos {
        display: none;
    }
}

/* Para dispositivos medianos tipo tables - md */
@media(max-width:1199px) and (min-width:768px) {
    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    /*
Este es el class que modifica el titulo del hero
*/

    .hero01 {
        font-family: 'Raleway', sans-serif;
        font-size: 5rem;
        padding: 9%;
        color: #ffffff;
        text-align: center;
        text-shadow: 2px 2px 4px #000000;
    }

    /*ESto modifica la vision,mision y valores en dispositivos de pantalla mediana*/

    h2 {
        font-size: 30px;
    }

    .quote {
        font-size: 20px;
    }

    .Imagen {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .valores {
        width: 200px;
        height: 200px;
        object-fit: cover;

    }

    .paradispositivos {
        display: none;
    }

}


/* Para dispositivos pequeños tipo telefonos - xs */
@media(max-width:767px) {
    .col-xs-12 {
        width: 100%;
    }

    .col-xs-11 {
        width: 91.66666667%;
    }

    .col-xs-10 {
        width: 83.33333333%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-8 {
        width: 66.66666667%;
    }

    .col-xs-7 {
        width: 58.33333333%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-5 {
        width: 41.66666667%;
    }

    .col-xs-4 {
        width: 33.33333333%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-2 {
        width: 16.66666667%
    }

    .col-xs-1 {
        width: 8.33333333%;
    }


    .hero01 {
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        padding: 19%;
        color: #ffffff;
        text-align: center;
        text-shadow: 2px 2px 4px #000000;
    }


    .hero1 {
        font-size: 20px;
    }

    /*ESto modifica la vision,mision y valores en dispositivos de pantalla pequeño*/

    h2 {
        font-size: 30px;
    }

    .quote {
        font-size: 20px;
        padding: 20px;
    }

    .Imagen {
        padding: 0 27%;
        padding-top: 7%;

    }

    .valores {
        width: 200px;
        height: 200px;
        object-fit: cover;

    }



    .paradispositivos {
        display: block;
    }

    .paradispositivos_lg {
        display: none;
    }


    /*Edicion de las redes sociales para dispositivos pequeños*/

    .social-icons {
        padding-left: 0%;
    }

    .social-icons li {
        margin: 0 5%;
    }
}


/*Boton flotante*/
.flotante {
    display: scroll;
    position: fixed;
    bottom: 30px;
    right: 40px;
}

.flotante img {
    width: 70px;
    height: 70px;
    
}

form p{
    color: red;
    font-style: oblique;
}